[Unit]
Description=HDFS DataNode
After=network.target

[Service]
Environment=HADOOP_HOME={{ hadoop_home }}
WorkingDirectory={{ hadoop_home }}
ExecStart={{ hadoop_home }}/bin/hdfs datanode
User={{ hadoop_user }}
KillMode=process
KillSignal=SIGINT
Restart=on-failure

[Install]
WantedBy=multi-user.target
